/* general_styles */
* {
  margin: 0;
  padding: 0;
  -ms-box-sizing: border-box !important;
  -o-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  color: #222;
  font-family: 'poppins', sans-serif;
}

body a {
  color: #222;
  font-family: 'poppins', sans-serif;
  text-decoration: none;
}

body ul,
body li {
  list-style: none;
}

::selection {
  background-color: #fff9cd;
}

.container_grid {
  width: 86%;
  max-width: 940px;
  margin: 0 auto;
}

/* navigation_bar */
nav {
  width: 100%;
  height: auto;
  color: #333;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav .toggle_line {
  display: block;
  padding: 3px;
  width: 23px;
  height: 21px;
  cursor: pointer;
}

nav .toggle_line span {
  display: block;
  width: 17px;
  height: 2px;
  background-color: #000;
  position: relative;
  top: 0;
  left: 0;
}

nav .toggle_line span::before {
  content: "";
  display: block;
  width: 17px;
  height: 2px;
  background-color: #000;
  position: relative;
  top: -6px;
  left: 0;
}

nav .toggle_line span::after {
  content: "";
  display: block;
  width: 17px;
  height: 2px;
  background-color: #000;
  position: relative;
  top: 5px;
  left: 0;
}

nav .logo {
  width: 215px;
  padding: 0;
  vertical-align: middle;
  transform: translateY(15px);
}

nav .logo img {
  width: 215px;
}

nav .nav_bar {
  height: 55px;
  line-height: 55px;
  padding-top: 5px;
  position: relative;
  left: 0;
  justify-content: center;
}

nav .nav_bar .nav_item {
  margin: 0 10px;
  position: relative;
}

nav .nav_bar .nav_item .nav_link {
  display: inline-block;
  height: 57px;
  color: #333;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}

nav .nav_bar .nav_item:hover .nav_link {
  opacity: 0.6;
}

nav .nav_bar .nav_item .sub_menu {
  background-color: #fafafa;
  width: 170px;
  position: absolute;
  top: 55px;
  left: -20px;
  padding-left: 20px;
  display: none;
}

nav .nav_bar .nav_item .sub_menu span {
  display: none;
}

nav .nav_bar .nav_item .sub_menu li {
  line-height: 33px;
  position: relative;
}

nav .nav_bar .nav_item .sub_menu li:hover .sub_sub_menu {
  display: block;
}

nav .nav_bar .nav_item .sub_menu li a {
  color: #333;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}

nav .nav_bar .nav_item .sub_menu .sub_sub_menu {
  background-color: #f3f3f3;
  width: 170px;
  position: absolute;
  top: 10px;
  left: 90%;
  display: none;
  padding: 5px 0 5px 25px;
}

nav .nav_bar .nav_item .sub_menu .sub_sub_menu span {
  display: none;
}

nav .nav_bar .nav_item .sub_menu .sub_sub_menu li a {
  color: #333;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}

nav .nav_bar .nav_item:hover .sub_menu {
  display: block;
}

nav .nav_bar .search_box {
  text-transform: uppercase;
  font-size: 10px;
  color: #000;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 40px;
}

nav .nav_bar .search_box_input {
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #333;
  padding-top: 15px;
  margin: 5px;
  position: relative;
  top: 0;
}

nav .nav_bar .search_box_input::placeholder {
  opacity: 0.2;
}

nav .nav_bar .search_box_input::-webkit-search-decoration,
nav .nav_bar .search_box_input::-webkit-search-cancel-button,
nav .nav_bar .search_box_input::-webkit-search-results-button,
nav .nav_bar .search_box_input::-webkit-search-results-decoration {
  display: none;
}

nav .header_small_icons {
  height: 55px;
  justify-content: flex-end;
  padding: 0;
}

nav .header_small_icons .header_social_media a i {
  color: #333;
  opacity: 0.2;
  font-size: 13px;
  margin: 0 2px;
  transition: 0.2s ease-out;
}

nav .header_small_icons .header_social_media a i:hover {
  opacity: 1;
}

nav .header_small_icons .search_icon a {
  color: #333;
  font-size: 13px;
  margin-left: 22px;
}

nav input:not(:last-child) {
  display: none;
}

/* mobile_and_tablet(xs_and_sm_and_md_in_bootstrap_4)_have_identical_styles */
@media only screen and (max-width: 991px) {
  nav {
    position: relative;
  }
  nav .row {
    justify-content: space-between;
  }
  nav .logo img {
    width: 122px;
  }
  nav input:checked ~ .nav_bar {
    display: block;
    position: relative;
    top: 0;
    left: 33%;
  }
  nav .nav_bar {
    height: auto;
    position: absolute;
    top: -100vh;
    left: 33%;
    transform: translate(-33%, 0);
    background-color: #fff;
    padding: 50px 0;
    line-height: 15px;
    display: none;
  }
  nav .nav_bar .nav_item {
    text-align: center;
  }
  nav .nav_bar .nav_item:nth-child(1), nav .nav_bar .nav_item:nth-child(2) {
    margin-left: 35px;
  }
  nav .nav_bar .nav_item .nav_link {
    height: 33px;
    font-size: 15px;
  }
  nav .nav_bar .nav_item .plus_sign::before {
    content: "+";
    display: inline-block;
    cursor: pointer;
    padding: 0px 5px;
    margin-left: 5px;
    border: 1px solid #f1f1f1;
    line-height: 20px;
  }
  nav .nav_bar .nav_item .sub_menu {
    position: relative;
    background-color: #fff;
    top: 0;
    padding: 0;
    margin: 0 0 15px 50px;
  }
  nav .nav_bar .nav_item .sub_menu span {
    display: block;
    line-height: 10px;
    margin-left: -25px;
  }
  nav .nav_bar .nav_item .sub_menu li:hover .sub_sub_menu {
    display: none;
  }
  nav .nav_bar .nav_item .sub_menu li a {
    padding: 0;
  }
  nav .nav_bar .nav_item .sub_menu .sub_sub_menu {
    position: relative;
    background-color: #fff;
    top: 0;
    left: 0;
    padding: 0;
    margin-bottom: 10px;
    line-height: 10px;
  }
  nav .nav_bar .nav_item .sub_menu .sub_sub_menu span {
    display: block;
    line-height: 10px;
    margin-left: -25px;
  }
  nav .nav_bar .nav_item .sub_menu .sub_sub_menu li {
    margin-top: 5px;
    margin-left: -20px;
    line-height: 15px;
  }
  nav .nav_bar .nav_item .sub_menu .sub_sub_menu li a {
    padding: 0;
  }
  nav .nav_bar .nav_item:hover .sub_menu {
    display: none;
  }
  nav .nav_bar .nav_item input.plus_sign_checkbox:checked ~ .plus_sign::before {
    content: "-";
  }
  nav .nav_bar .nav_item > .plus_sign_checkbox:checked ~ .sub_menu,
  nav .nav_bar .nav_item .sub_menu .plus_sign_checkbox:checked ~ .sub_sub_menu {
    display: block;
  }
  nav .nav_bar .nav_item:nth-child(2) > .sub_menu > li:nth-child(5),
  nav .nav_bar .nav_item:nth-child(2) > .sub_menu > li:nth-child(6),
  nav .nav_bar .nav_item:nth-child(2) > .sub_menu > li:nth-child(7),
  nav .nav_bar .nav_item:nth-child(2) > .sub_menu > li:nth-child(8) {
    margin-left: -30px;
  }
  nav .search_icon {
    display: none;
  }
}

/* notebook(lg_in_bootstrap_4 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  nav .logo {
    width: 122px;
  }
  nav .logo img {
    width: 122px;
  }
  nav .nav_bar {
    padding-top: 0;
  }
}

/* header */
header {
  height: 570px;
  margin-top: 120px;
}

header .header_logo {
  position: relative;
}

header .header_logo img {
  max-width: 50%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50% !important;
}

header .row:nth-child(2) {
  transform: translateY(-100px);
}

header .row:nth-child(2) .header_text {
  text-align: center;
  font-family: 'poppins', sans-serif;
}

header .row:nth-child(2) .header_text span:first-child {
  display: block;
  font-weight: 700;
  font-size: 172px;
  letter-spacing: -12px;
  text-shadow: 9px -9px 0 #fff;
}

header .row:nth-child(2) .header_text span:not(:first-child) {
  display: block;
  transform: translateY(-50px);
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
}

header .row:nth-child(2) .header_text span:last-child {
  perspective: 1000px;
  text-align: left;
  padding-left: 35px;
}

header .row:nth-child(2) .header_text span:last-child::after {
  content: "";
  font-weight: bold;
  transform-origin: center bottom;
  transition: 0.1s;
  display: inline-block;
  position: relative;
  animation: word_movement 8s ease-out infinite;
}

/* mobile_and_tablet_portrait(xs_and_sm_in_bootstrap_4)_have_identical_styles */
@media only screen and (max-width: 767px) {
  header {
    height: auto;
    margin-top: 20px;
  }
  header .row:nth-child(2) .header_text {
    transform: translateY(60px);
  }
  header .row:nth-child(2) .header_text span:first-child {
    font-size: 52px;
    letter-spacing: -4px;
    text-shadow: 2px -2px 0 #fff;
  }
  header .row:nth-child(2) .header_text span:not(:first-child) {
    font-size: 22px;
    transform: translateY(-15px);
    line-height: 25px;
  }
  header .row:nth-child(2) .header_text span:last-child {
    margin-left: -67px;
  }
}

/* tablet_landscape(md_in_bootstrap_4) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    margin-top: 70px;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 25px;
  border-top: 1px solid #f3f3f3;
}

footer .footer_logo {
  width: 190px;
}

footer .footer_logo img {
  width: 100%;
}

footer .text_gray {
  letter-spacing: 0.5px;
}

footer .footer_social_media a {
  display: inline-block;
  width: 35px;
  height: 35px;
}

footer .footer_social_media a:hover {
  border-radius: 50% !important;
}

footer .footer_social_media a#facebook:hover {
  background-color: #3c5fac;
}

footer .footer_social_media a#twitter:hover {
  background-color: #5ec3df;
}

footer .footer_social_media a#vine:hover {
  background-color: #00BF8F;
}

footer .footer_social_media a#dribbble:hover {
  background-color: #EA4C89;
}

footer .footer_social_media a#instagram:hover {
  background-color: #3f729b;
}

footer .footer_social_media a i {
  color: #222;
  opacity: 0.8;
  font-size: 15px;
  line-height: 35px;
  margin: 0 13px 0 11.5px;
  transition: 0.2s ease-out;
}

footer .footer_social_media a:hover i {
  color: #fff;
}

footer .footer_image {
  width: calc(12.5% - 8px);
  margin: 0 4px;
  position: relative;
  /* overflow: hidden; */
}

footer .footer_image img {
  width: 100%;
}

footer .footer_image .image_mask {
  width: 100%;
  padding-top: 100%;
  background-color: rgba(0, 122, 255, 0.55);
  opacity: 0;
  transition: 0.7s;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
}

footer .footer_image i {
  position: absolute;
  bottom: 15px;
  right: 10px;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}

footer .footer_image:hover {
  cursor: pointer;
}

footer .footer_image:hover .image_mask,
footer .footer_image:hover i {
  opacity: 1;
  z-index: 2000;
}

footer .footnote_copyright {
  font-size: 11px;
  font-family: "Noto Sans", sans-serif;
  color: #222;
  text-align: center;
  margin: 17px 0 20px 0;
}

@media only screen and (max-width: 575px) {
  footer .footer_image {
    min-width: calc(50% - 8px);
    position: relative;
  }
}

/* _tablet_and_notebook(sm_and_md_and_lg_in_bootstrap_4)_have_identical_styles */
@media only screen and (min-width: 576px) and (max-width: 1199px) {
  footer .footer_image {
    width: calc(33% - 8px);
    position: relative;
  }
}

/* components */
.text_gray {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #ccc;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 700;
}

@keyframes word_movement {
  0% {
    content: "blogger";
    opacity: 1;
    transform: rotateX(-90deg);
  }
  3% {
    content: "blogger";
    opacity: 1;
    transform: rotateX(0);
  }
  25% {
    content: "blogger";
    opacity: 1;
    transform: rotateX(0);
  }
  30% {
    content: "blogger";
    opacity: 1;
    transform: rotateX(-40deg);
  }
  32% {
    content: "blogger";
    opacity: 0;
    transform: rotateX(90deg);
  }
  34% {
    content: "writer";
    opacity: 0;
    transform: rotateX(-90deg);
  }
  37% {
    content: "writer";
    opacity: 1;
    transform: rotateX(0);
  }
  60% {
    content: "writer";
    opacity: 1;
    transform: rotateX(0);
  }
  64% {
    content: "writer";
    opacity: 1;
    transform: rotateX(-40deg);
  }
  66% {
    content: "writer";
    opacity: 0;
    transform: rotateX(90deg);
  }
  68% {
    content: "traveler";
    opacity: 0;
    transform: rotateX(-90deg);
  }
  71% {
    content: "traveler";
    opacity: 1;
    transform: rotateX(0);
  }
  94% {
    content: "traveler";
    opacity: 1;
    transform: rotateX(0);
  }
  98% {
    content: "traveler";
    opacity: 1;
    transform: rotateX(-40deg);
  }
  100% {
    content: "traveler";
    opacity: 0;
    transform: rotateX(90deg);
  }
}

/* figure_box_section */
main {
  margin-top: -38px;
}

.figure_box {
  position: relative;
}

.figure_box figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.figure_box figure img {
  width: 100%;
}

.figure_box figure a {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  position: relative;
  padding: 40% 0;
}

.figure_box figure.figure_box_1 a {
  background: url(../img/000-1024x1024.jpg) no-repeat center top;
}

.figure_box figure.figure_box_2 a {
  background: url(../img/05-1-768x1151.jpg) no-repeat center top;
}

.figure_box figure.figure_box_3 a {
  background: url(../img/02-2-768x1152.jpg) no-repeat center top;
}

.figure_box figure.figure_box_4 a {
  background: url(../img/aa-1024x802.jpg) no-repeat center top;
}

.figure_box figure a {
  -ms-background-size: cover !important;
  background-size: cover !important;
}

.figure_box figure .figure_mask {
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.2);
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

.figure_box figure figcaption {
  display: inline-block;
  width: 100%;
  padding: 0 15%;
  font-family: "poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.figure_box:hover figure a {
  transform: scale(1.5);
}

.figure_box:hover figure a .figure-mask {
  background-color: rgba(34, 34, 34, 0.7);
}

@media only screen and (max-width: 767px) {
  .figure_box figure figcaption {
    font-size: 11px;
  }
}

/* blog_list_section */
.blog_list {
  width: 690px;
  margin: 0 auto;
}

.blog_list article {
  border-bottom: 1px solid #f3f3f3;
  position: relative;
}

.blog_list article:nth-child(7) {
  border: none;
}

.blog_list article .img_cover {
  width: 92px;
  height: 92px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.2s ease-out;
  -ms-background-size: cover !important;
  background-size: cover !important;
}

.blog_list article .img_cover_1 {
  background-image: url(../img/06-2-150x150.jpg);
}

.blog_list article .img_cover_2 {
  background-image: url(../img/04-150x150.jpg);
}

.blog_list article .img_cover_3 {
  background-image: url(../img/01-1-150x150.jpg);
}

.blog_list article .img_cover_4 {
  background-image: url(../img/02-1-150x150.jpg);
}

.blog_list article .img_cover_5 {
  background-image: url(../img/01-150x150.jpg);
}

.blog_list article .img_cover_6 {
  background-image: url(../img/05-1-150x150.jpg);
}

.blog_list article .img_cover_7 {
  background-image: url(../img/03-150x150.jpg);
}

.blog_list article .left_side, .blog_list article .right_side {
  margin-right: 40px;
  padding: 33px 0 15px 0;
  position: relative;
}

.blog_list article .left_side .day, .blog_list article .right_side .day {
  display: block;
  font-family: "poppins", sans-serif;
  text-align: center;
  line-height: 22px;
  color: #222;
  letter-spacing: -1px;
  font-size: 33px;
  font-weight: bold;
}

.blog_list article .left_side .month, .blog_list article .right_side .month {
  display: block;
  font-family: "poppins", sans-serif;
  text-align: center;
  line-height: 22px;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  color: #ddd;
}

.blog_list article .right_side {
  line-height: 22px;
  color: #222;
  font-weight: 600;
  font-size: 22px;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
}

.blog_list article:hover figure {
  opacity: 1;
  z-index: 10;
}

.blog_list .btn {
  margin: 35px auto;
  transition: 0.5s;
}

.blog_list .btn a {
  font-size: 10px;
  color: #222;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 25px;
  border: 2px solid #222;
}

.blog_list .btn:hover a {
  color: #fff;
  background-color: #222;
}

@media only screen and (max-width: 767px) {
  .blog_list {
    width: 100%;
  }
  .blog_list article .img_cover {
    width: 55px;
    height: 55px;
  }
  .blog_list article .left_side, .blog_list article .right_side {
    margin-right: 15px;
    padding: 15px 0 0 0;
    transform: translateX(-10px);
  }
  .blog_list article .left_side .day, .blog_list article .right_side .day {
    font-size: 23px;
    line-height: 18px;
  }
  .blog_list article .right_side {
    margin-left: 10px;
    padding: 18px 0 0 0;
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */