// colors
$darkest_gray: #333;
$dark_gray: #222;
$medium_gray_1: #ccc;
$medium_gray_2: #ddd;
$light_gray: #fafafa;
$lightest_gray: #f1f1f1;
$creamy: #fff9cd;
$white: #fff;


// font_family
$poppins: 'poppins', sans-serif;
$lato: 'Lato', sans-serif;
$noto_sans: 'Noto Sans', sans-serif;


// font_size
$font_size_xxs: 10px;
$font_size_xxs_1: $font_size_xxs + 1px;
$font_size_xs: 13px;
$font_size_sm: 15px;
$font_size_md: 20px;
$font_size_md_1: $font_size_md + 1px;
$font_size_md_2: $font_size_md + 2px;
$font_size_md_3: $font_size_md + 3px;
$font_size_md_4: $font_size_md + 4px;
$font_size_md_5: $font_size_md + 5px;
$font_size_lg: 33px;